################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AuctionWebApi.Infrustructure/obj/Debug/net7.0/AuctionWebApi.Infrastructure.AssemblyInfo.cs
/AuctionWebApi.Infrustructure/obj/Debug/net7.0/AuctionWebApi.Infrastructure.AssemblyInfoInputs.cache
