################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AuctionWebApi.Infrustructure/obj/Debug/net7.0/AuctionWebApi.Infrastructure.AssemblyInfo.cs
/AuctionWebApi.Infrustructure/obj/Debug/net7.0/AuctionWebApi.Infrastructure.AssemblyInfoInputs.cache
/AuctionWebApi/bin/Debug/net7.0/AuctionWebApi.Core.dll
/AuctionWebApi/bin/Debug/net7.0/AuctionWebApi.Core.pdb
/AuctionWebApi/bin/Debug/net7.0/AuctionWebApi.dll
/AuctionWebApi/bin/Debug/net7.0/AuctionWebApi.exe
/AuctionWebApi/bin/Debug/net7.0/AuctionWebApi.Infrastructure.dll
/AuctionWebApi/bin/Debug/net7.0/AuctionWebApi.Infrastructure.pdb
/AuctionWebApi/bin/Debug/net7.0/AuctionWebApi.pdb
/AuctionWebApi/obj/Debug/net7.0/AuctionWebApi.AssemblyInfo.cs
/AuctionWebApi/obj/Debug/net7.0/AuctionWebApi.AssemblyInfoInputs.cache
/AuctionWebApi/obj/Debug/net7.0/AuctionWebApi.assets.cache
/AuctionWebApi/obj/Debug/net7.0/AuctionWebApi.csproj.AssemblyReference.cache
/AuctionWebApi/obj/Debug/net7.0/AuctionWebApi.GeneratedMSBuildEditorConfig.editorconfig
/AuctionWebApi/obj/AuctionWebApi.csproj.nuget.dgspec.json
/AuctionWebApi/obj/AuctionWebApi.csproj.nuget.g.props
/AuctionWebApi/obj/project.assets.json
/AuctionWebApi/obj/project.nuget.cache
/AuctionWebApi.Core/obj/Debug/net7.0/AuctionWebApi.Core.AssemblyInfo.cs
/AuctionWebApi.Core/obj/Debug/net7.0/AuctionWebApi.Core.AssemblyInfoInputs.cache
/AuctionWebApi.Core/obj/Debug/net7.0/AuctionWebApi.Core.assets.cache
/AuctionWebApi.Core/obj/Debug/net7.0/AuctionWebApi.Core.csproj.AssemblyReference.cache
/AuctionWebApi.Core/obj/Debug/net7.0/AuctionWebApi.Core.GeneratedMSBuildEditorConfig.editorconfig
/AuctionWebApi.Core/obj/AuctionWebApi.Core.csproj.nuget.dgspec.json
/AuctionWebApi.Core/obj/AuctionWebApi.Core.csproj.nuget.g.props
/AuctionWebApi.Core/obj/project.assets.json
/AuctionWebApi.Core/obj/project.nuget.cache
/AuctionWebApi.Infrustructure/obj/Debug/net7.0/AuctionWebApi.Infrastructure.assets.cache
/AuctionWebApi.Infrustructure/obj/Debug/net7.0/AuctionWebApi.Infrastructure.csproj.AssemblyReference.cache
/AuctionWebApi.Infrustructure/obj/Debug/net7.0/AuctionWebApi.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/AuctionWebApi.Infrustructure/obj/AuctionWebApi.Infrastructure.csproj.nuget.dgspec.json
/AuctionWebApi.Infrustructure/obj/AuctionWebApi.Infrastructure.csproj.nuget.g.props
/AuctionWebApi.Infrustructure/obj/project.assets.json
/AuctionWebApi.Infrustructure/obj/project.nuget.cache
/AuctionWebApi/obj/Debug/net7.0/ref/AuctionWebApi.dll
/AuctionWebApi/obj/Debug/net7.0/refint/AuctionWebApi.dll
/AuctionWebApi/obj/Debug/net7.0/ApiEndpoints.json
/AuctionWebApi/obj/Debug/net7.0/apphost.exe
/AuctionWebApi/obj/Debug/net7.0/AuctionWebApi.csproj.CoreCompileInputs.cache
/AuctionWebApi/obj/Debug/net7.0/AuctionWebApi.csproj.FileListAbsolute.txt
/AuctionWebApi/obj/Debug/net7.0/AuctionWebApi.dll
/AuctionWebApi/obj/Debug/net7.0/AuctionWebApi.genruntimeconfig.cache
/AuctionWebApi/obj/Debug/net7.0/AuctionWebApi.pdb
/AuctionWebApi/obj/Debug/net7.0/AuctionWebApi.sourcelink.json
/AuctionWebApi/obj/Debug/net7.0/staticwebassets.build.json
/AuctionWebApi.Core/bin/Debug/net7.0/AuctionWebApi.Core.dll
/AuctionWebApi.Core/bin/Debug/net7.0/AuctionWebApi.Core.pdb
/AuctionWebApi.Core/obj/Debug/net7.0/ref/AuctionWebApi.Core.dll
/AuctionWebApi.Core/obj/Debug/net7.0/refint/AuctionWebApi.Core.dll
/AuctionWebApi.Core/obj/Debug/net7.0/AuctionWebApi.Core.dll
/AuctionWebApi.Core/obj/Debug/net7.0/AuctionWebApi.Core.csproj.CoreCompileInputs.cache
/AuctionWebApi.Core/obj/Debug/net7.0/AuctionWebApi.Core.genruntimeconfig.cache
/AuctionWebApi.Core/obj/Debug/net7.0/AuctionWebApi.Core.pdb
/AuctionWebApi.Core/obj/Debug/net7.0/AuctionWebApi.Core.sourcelink.json
/AuctionWebApi.Infrustructure/bin/Debug/net7.0/AuctionWebApi.Core.dll
/AuctionWebApi.Infrustructure/bin/Debug/net7.0/AuctionWebApi.Core.pdb
/AuctionWebApi.Infrustructure/bin/Debug/net7.0/AuctionWebApi.Infrastructure.dll
/AuctionWebApi.Infrustructure/bin/Debug/net7.0/AuctionWebApi.Infrastructure.pdb
/AuctionWebApi.Infrustructure/obj/Debug/net7.0/ref/AuctionWebApi.Infrastructure.dll
/AuctionWebApi.Infrustructure/obj/Debug/net7.0/refint/AuctionWebApi.Infrastructure.dll
/AuctionWebApi.Infrustructure/obj/Debug/net7.0/AuctionWebApi.Infrastructure.csproj.CoreCompileInputs.cache
/AuctionWebApi.Infrustructure/obj/Debug/net7.0/AuctionWebApi.Infrastructure.dll
